---

- hosts: accless
  gather_facts: yes
  tasks:
    - include_tasks: tasks/accless/apt.yaml
    - include_tasks: tasks/util/docker.yaml
    - include_tasks: tasks/util/rust.yaml
    - include_tasks: tasks/accless/code.yaml
    - include_tasks: tasks/accless.yaml
