---

- name: "Create code dir"
  file:
    path: "/home/{{ ansible_user }}/git"
    state: directory

- name: "Clone Accless repos"
  git:
    repo: "https://www.github.com/faasm/tless.git"
    dest: "{{ accless_code_dir }}"
    update: yes
    recursive: yes
    clone: yes
    force: yes
    accept_hostkey: yes
