name: Create and publish images

on:
  push:
    branches:
      - main
    paths:
      - 'VERSION'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: "Check out the repo"
        uses: actions/checkout@v5

      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Log in to the GitHub Container Registry"
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: faasm
          password: ${{ secrets.GHCR_PAT }}

      - name: "Tag the current version"
        run: |
          ./scripts/apt.sh
          ./scripts/accli_wrapper.sh dev tag --force
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: "Build and push images"
        run: ./scripts/accli_wrapper.sh docker build-all --push
